 <head>
     <meta charset="UTF-8">
     <title>Register</title>
     <link rel="stylesheet" type="text/css" href="/static/CSS/Create_Account.css"/>
 </head>
 <body>
     <div id="Create_Account">
         <h1>Create Account</h1>
         <form method="POST">
             <input type="text" name="username" placeholder="Enter username" required></input>
             <input type="password" name="password" placeholder="Enter password" required></input>
			<!-- <input type="text" name="balance" placeholder="Enter funds" required></input> -->
             <button class="but" type="submit">Submit</button>
         </form>
		 <text>{{result}}</text>
     </div>
</body>
</html>