<!DOCTYPE html>

<html>
    <head>
        <!-- this isn't displayed on the web page. this is metadata. -->
        <meta charset="utf-8">
        <title>Terminal Trader</title>
    </head>
    <body>
        <!--This is displayed on the web page. -->
        <h1>Welcome!</h1>
        <img src="https://78.media.tumblr.com/bLjlTcuJUeso3faam41AZwxqo1_500.png" alt="tt">
        <p><a href="/terminal/register">Create Account</a></p>
        <p><a href="/terminal/login">Log In</a></p>
    </body>
</html>
