<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/Login.css"/>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" placeholder="Enter username" required></input>
            <input type="password" placeholder="Enter password" required></input>
            <button class="but" type="submit">Log in</button>   
        </form>   
    </div>   
</body>   
</html>   
