<!DOCTYPE html>

<html>
    <head>
        <!-- this isn't displayed on the web page. this is metadata. -->
        <meta charset="utf-8">
        <title>Main Menu</title>
    </head>
    <body>
        <!--This is displayed on the web page. -->
        <h1>Main Menu</h1>
        <img src="https://78.media.tumblr.com/bLjlTcuJUeso3faam41AZwxqo1_500.png" alt="tt">
        <p><a href="/terminal/trade">Trade</a></p>
        <p><a href="/terminal/lookup">Lookup</a></p>
        <p><a href="/terminal/quote">Quote</a></p>
        <p><a href="/terminal/account">Check Cash Balance</a></p>
        <p><a href="/terminal/logout">Log Out</a></p>
    </body>
</html>
